learn_python_koans/
.idea/
.vscode/
basic_exercises/
learn_python_koans/
learn-homework-1/
learn-homework-2/
lessons/
OOP/

Telegram_Bot/bot2/
Telegram_Bot/bot3/
Telegram_Bot/bot4/

Web-backend/.idea/
Web-backend/__pycache__/
Web-backend/venv/
Web-backend/webapp.db/
Web-backend/webapp/config.py